@import "style";

.top {
  background-image: url("../img/catalog/Rectangle29.jpg");
  height: 400px;
}

.h1 {
  margin-top: 127px;
}

.content-menu {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  list-style: none;

  &__link a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__link + &__link::before {
    content: "/";
    font-weight: 40;
    font-size: 16px;
    color: #000;
    padding: 0px 10px;

    &:hover {
      text-decoration: none !important;
    }
  }
}

@import "tablet";
@import "mobile";
